* {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}

.map-container {
    height: 100vh;
    width: 91%;

}
.map-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.places-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
}
.combobox-input {
    padding: 0.5rem;
}
.places-container div {
    width: 100%;
    display: flex;
    justify-content: center;
}

 .places-container input {
    width: 90%;
 }